/src/server/frapi/src/frapi/custom/Config/config.ini
/src/client/titanium/build
/src/client/titanium/Resources
/src/client/titanium/app/lib/app_config.js
/src/server/daizu/config/database.yml
*.pem
*.swp
*.swn
*.swo
.DS_Store
